<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Evaluacion Administrativa</h3>
    </div>

    <ul class="list-unstyled components">
        <div class="row">
            <div class="col-12" style="height: 10px">

            </div>
        </div>
        <li>
            <a [routerLink]="['/central/configurarevaluacion']" >Configurar Evaluacion</a>
        </li>
        <li>
            <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>-->
        </li>
        <li>
            <a [routerLink]="['/central/listarevaluacion']">Listado de la Evaluacion Administrativa</a>
        </li>
        <li>
            <a [routerLink]="['/central/evaluarse']" >Evaluacion</a>
        </li>
        <li style="height: 20px">

        </li>
    </ul>

</nav>
