<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
        <app-navbar></app-navbar>
        <p>dashboard works!</p>
    </div>
</div>
<div class="row">
    <div class="col-12" style="height: 15px">

    </div>
</div>
<div class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9" style="background-color:rgb(244, 244, 244)">
            <div class="row">
                <div class="col-12" style="height: 15px">
                </div>
            </div>
        <router-outlet></router-outlet>
    </div>
</div>
